
.section-header {
  color: #fff;
  text-align: center;
  margin: 20px 0;
}

.section-container {
  margin: 0 auto 75px auto;
}

hr {
  width: 20%;
  margin: auto;
  background-color: #fff;
  margin-bottom: 40px;
  color: #fff;
}

h4 {
  text-align: center;
}

button {
    margin: 0px 10px;
}

form {
    text-align: center;
}
