<header>
  <nav class="navbar navbar-dark navbar-expand-lg bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#home">Timothy Jonker</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#resume">Resume</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#skills">Skills</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#contact">Contact Me</a>
          </li> -->
        </ul>
        <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="http://www.linkedin.com/in/tmjonker8"
              ><i class="fab fa-linkedin fa-lg nav-spacing"></i>
              <span class="sr-only">linkedin</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://github.com/tmjonker"
              ><i class="fab fa-github fa-lg nav-spacing"></i>
              <span class="sr-only">github</span></a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
