<section id="projects">
  <div class="container">
    <app-section-header [headerTitle]="sectionHeader"></app-section-header>
    <div class="row">
      <div class="container section-container">
        <ngb-carousel
          class="carousel"
          *ngIf="images"
          [showNavigationIndicators]="false"
        >
          <ng-template ngbSlide>
            <h4>Password Manager</h4>
            <a href="https://github.com/tmjonker/PasswordManager">
              <img
                class="d-block w-40 project-img"
                src="../assets/images/password_manager.png"
                alt="password manager"
              />
            </a>
          </ng-template>
          <ng-template ngbSlide>
            <h4>Food2U</h4>
            <a href="https://github.com/tmjonker/food2u">
              <img
                class="d-block w-40 project-img"
                src="../assets/images/food2u.png"
                alt="Food2U"
              />
            </a>
          </ng-template>
          <ng-template ngbSlide>
            <h4>Burger Bonanza - Front-end</h4>
            <a href="https://github.com/tmjonker/burger_bonanza-frontend">
              <img
                class="d-block w-40 project-img"
                src="../assets/images/bb1.png"
                alt="burger bonanza"
              />
            </a>
          </ng-template>
          <ng-template ngbSlide>
            <h4>Burger Bonanza - Back-end</h4>
            <a href="https://github.com/tmjonker/burger_bonanza_backend">
              <img
                class="d-block w-40 project-img"
                src="../assets/images/bb1.png"
                alt="burger bonanza"
              />
            </a>
          </ng-template>
          <ng-template ngbSlide>
            <h4>Social+ - Front-end</h4>
            <a href="https://github.com/tmjonker/social_plus_frontend">
              <img
                class="d-block w-40 project-img"
                src="../assets/images/social_1.png"
                alt="social media app"
              />
            </a>
          </ng-template>
          <ng-template ngbSlide>
            <h4>Social+ - Back-end</h4>
            <a href="https://github.com/tmjonker/social_plus_backend">
              <img
                class="d-block w-40 project-img"
                src="../assets/images/social_1.png"
                alt="social media app"
              />
            </a>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
  </div>
</section>
