<section id="projects">
  <div class="container">
    <div class="row">
      <div class="container section-container">
        <h1 class="section-header">Projects</h1>
        <hr />
        <ngb-carousel class="carousel" *ngIf="images">
          <ng-template ngbSlide>
            <h4>Password Manager</h4>
            <a href="https://github.com/tmjonker/PasswordManager">
              <img
                class="d-block w-40 project-img"
                src="ng-project/assets/images/password_manager.png"
                alt="password manager"
              />
            </a>
          </ng-template>
          <ng-template ngbSlide>
            <h4>Pong</h4>
            <a href="https://github.com/tmjonker/PasswordManager">
              <img
                class="d-block w-40 project-img"
                src="ng-project/assets/images/pong.png"
                alt="pong"
              />
            </a>
          </ng-template>
          <ng-template ngbSlide>
            <h4>Food2U - a food delivery concept</h4>
            <a href="https://github.com/tmjonker/PasswordManager">
              <img
                class="d-block w-40 project-img"
                src="ng-project/assets/images/food2u.png"
                alt="Food2U"
              />
            </a>
          </ng-template>
          <ng-template ngbSlide>
            <h4>Burger Bonanza - a fictional restaurant concept</h4>
            <a href="https://github.com/tmjonker/PasswordManager">
              <img
                class="d-block w-40 project-img"
                src="ng-project/assets/images/bb1.png"
                alt="burger bonanza"
              />
            </a>
          </ng-template>
        </ngb-carousel>
      </div>
    </div>
  </div>
</section>
