* {
    color: #fff;
}

h4 {
  text-align: center;
}

.project-img {
  margin: auto;
}

.section-container {
    margin-bottom: 75px;
  }

  @media screen
and (max-width : 850px) {

  .project-img {
    width: 70%;
  }
}