<section id="skills">
  <div class="container section-container">
    <app-section-header [headerTitle]="sectionHeader"></app-section-header>
    <div class="row">
      <div class="col-lg-12">
        <div class="skills-container">
          <canvas
            baseChart
            [labels]="doughnutChartLabels"
            [datasets]="doughnutChartDatasets"
            [options]="doughnutChartOptions"
            [legend]="true"
            [type]="'doughnut'"
          >
          </canvas>
        </div>
      </div>
    </div>
  </div>
</section>
