* {
  color: #fff;
}

#skills {
  scroll-margin-top: 75px;
  margin-bottom: 160px;
  transition: opacity;
  opacity: 1;
}

.skills-container {
  display: block;
  margin: auto;
  width: 40%;
  padding: 0 20px;
}

.section-container {
  margin-bottom: 75px;
}

@media screen
and (max-width : 850px) {
  .skills-container {
    width: 100%;
  }
}
