* {
  color: #fff;
}

.skills-container {
  text-align: center;
}

.react {
  width: 30%;
}

.skill-row {
  margin-top: 30px;
}
.java {
  width: 45%;
  margin-right: 100px;
}

.html {
  width: 60%;
}

.spring {
  width: 28%;
}

.section-container {
  margin-bottom: 75px;
}
