<section id="about">
  <div class="container">
    <div class="row">
      <div class="w-60 d-block">
        <div class="container">
          <div class="row">
            <div class="section-container">
              <img
                class="hello"
                src="https://cdn.pixabay.com/photo/2020/08/03/02/30/hello-5458998_960_720.png"
                alt="hello"
              />

              <p class="about-me bg-dark">
                Greetings! I'm Timothy Jonker, a full-stack engineer with a year
                of professional experience. My technical toolkit includes
                proficiency in Java, JavaScript, Spring, Spring Boot, Angular,
                React, AWS, and Docker. I'm dedicated to delivering efficient
                and scalable solutions by seamlessly integrating front-end and
                back-end technologies.<br />
                <br />
                Within this portfolio, you'll find a collection of my work,
                reflecting my commitment to clean and robust code. Join me on
                this exploration of the digital landscape as I showcase projects
                and experiences that highlight my skills and expertise in the
                realm of full-stack engineering. Let's dive into the world of
                code together.<br />
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
