* {
  color: #fff;
}

.section-container {
  margin-bottom: 75px;
}

.about-me {
  font-family: "Roboto", sans-serif;
  letter-spacing: 2px;
  text-align: justify;
  color: #fff;
  padding: 0px 20px;
}

.hello {
  border-radius: 0%;
  display: block;
  margin: auto;
  padding: 40px 0 40px;
  width: 45%;
}

hr {
  width: 20%;
  margin: auto;
  background-color: #fff;
  margin-bottom: 40px;
}

@media screen
and (max-width : 850px) {
  .hello {
    width: 65%;
  }
}
