.section-container {
  margin: 0 auto 75px;
  background-color: #fff;
  border-radius: 7px;
  padding: 0 20px;
  width: 68%;
}

#resume {
  scroll-margin-top: 75px;
  margin-bottom: 100px;
}

.resume-listing {
  font-family: "Roboto", sans-serif;
  padding: 30px 0;
  text-align: left;
  color: #000;
  padding: 20px;
}

p {
  text-align: center;
  color: white;
  font-weight: bold;
}

button {
  outline: none;
  background: none;
  border: none;
  color: rgba(255,255,255,.55);
  margin-bottom: 20px;
  text-decoration: underline;
  font-weight: bold;
}

button:hover {
  color: rgba(255,255,255,.75);
}

li {
  padding: 6px;
}

.resume-position {
  font-weight: bold;
}

.resume-company {
  font-size: 1.4rem;
}

.resume-date {
  font-size: 1.3rem;
  font-style: italic;
}

.resume-block {
  float: right;
  margin-right: 30px;
}

.resume-block-gs {
  float: left;
  margin-right: 30px;
}

.bp-block {
  float: left;
  margin-bottom: 40px;
}

.bp-block-gs {
  float: left;
}

.fm {
  display: flex;
  width: 30%;
  float: left;
  margin-right: 30px;
}

.gs {
  width: 25%;
  float: right;
  margin-right: 30px;
}

li {
  list-style-type:circle;
  list-style-position: outside;
}

@media screen and (max-width: 850px) {

  .fm {
    width: 56%;
    float: right;
    margin-right: 0;
  }

  .gs {
    width: 48%;
    float: right;
    margin-right: 0;
  }

  .resume-block {
    float: none;
  }
  
  .resume-block-gs {
    float: none;
  }

  .section-container {
    width: 90%;
  }
}
