.section-container {
  margin-bottom: 75px;
  background-color: #fff;
  border-radius: 4px;
  padding: 0 20px;
}

.resume-listing {
  font-family: "Roboto", sans-serif;
  padding: 30px 0;
  letter-spacing: 2px;
  text-align: left;
  color: #000;
  padding: 20px;
}

li {
  padding: 6px;
}

.resume-position {
  font-weight: bold;
}

.resume-company {
  font-size: 1.4rem;
}

.resume-date {
  font-size: 1.3rem;
  font-style: italic;
}

.fm {
  width: 30%;
  float: left;
  margin-right: 30px;
}

.gs {
  width: 26%;
  float: right;
  margin-right: 30px;
}

@media screen
and (max-width : 850px) {

  .fm {
    width: 50%;
  }

  .gs {
    width: 46%;
  }
}