* {
  margin: 0;
  padding: 0;
  font-family: "Roboto";
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 3px;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  background-color: #444444;
}

@media screen
and (max-width : 850px) {
  .project-img {
    width: 80%;
  }

  .skill-img {
    width: 30%;
  }

  .jumbotron {
    height: 200px;
  }

  .jumbo-header {
    margin-top: 28px;
  }

  .fm {
    width: 70%;
  }

  .gs {
    width: 70%;
  }
}